#window settings
window.fullscreen=false
window.width=800
window.height=600
window.resize=true
window.vsync=300
window.lose_focus=60
window.menu_vsync=60

#asset settings
assets.texture_data=assets/data/textures.xml

assets.model_data=assets/data/models.xml
assets.material_data=assets/data/materials.xml

#control Settings
control.action_1=BUTTON0
control.action_2=BUTTON1
control.forward=W
control.backward=S
control.left=A
control.right=D
control.jump=SPACE
control.sneak=LCONTROL
control.inventory=I
control.character=C
control.skills=K
control.spellbook=B
controls.quests=Q
control.journel=J